.app {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	max-width: 100vw;
	height: 100vh;
}

.signin,
.signup {
	position: relative;
	display: flex;
	gap: 12px;
	align-items: center;
	width: 80%;
	max-width: 800px;
}

.signin img,
.signup img {
	width: 50%;
	object-fit: cover;
}

.signin .form,
.signup .form {
	display: flex;
	flex-direction: column;
	flex: 1;
	align-items: center;
	gap: 8px;
}

.signin .form span.title,
.signup .form span.title {
	font-family: var(--title-font);
	font-size: var(--title);
	font-weight: 600;
}

@media screen and (max-width: 768px) {
	.signin,
	.signup {
		flex-direction: column;
	}
	.signin img,
	.signup img {
		width: 100%;
	}
	.signin .form,
	.signup .form {
		width: 100%;
	}
}

@media screen and (max-width: 480px) {
	.signin,
	.signup {
		width: 96%;
	}
}
